.header{
    margin: 0 2.5rem;
    display: flex;
    padding: 0.5rem 0;
    align-items: center;
    justify-content: space-between;
}
.header-left{
    display: flex;
    align-items: center;
   

}
.logo{
    width: 80px;
   
}
.header-left span{
    margin: 0 30px;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}
.header-left span:hover{
    color: red;
}

